@import url("../var.css");

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-secundary);
  padding: 10px;
  text-align: center;
}

.soma {
  max-width: 950px;
  margin: 0 auto;
  padding: 0.8rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.1rem;
}

.soma span {
  padding-right: 5px;
}

.soma p {
  padding: 0.4rem 1rem;
  text-align: center;
  color: var(--cor-principal);
  background: rgb(137, 37, 255);
  background: linear-gradient(
    132deg,
    rgba(137, 37, 255, 1) 22%,
    rgba(70, 0, 172, 1) 72%
  );
  border-radius: var(--border-random);
}
