@import url("../var.css");

.section {
  margin-top: 1rem;
}

.compras {
  display: flex;
  gap: 0.4rem;
  padding: 0.8rem 1.1rem;
  background-color: var(--bg-secundary);
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-random);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.242);
}

.item1 {
  font-weight: 700;
}

.item2 {
  padding: 0.4rem 1rem;
  text-align: center;
  font-weight: 700;
  color: var(--cor-principal);
  background: rgb(137, 37, 255);
  background: linear-gradient(
    132deg,
    rgba(137, 37, 255, 1) 22%,
    rgba(70, 0, 172, 1) 72%
  );
  border-radius: var(--border-random);
}

.compras div {
  display: flex;
  gap: 0.5rem;
}

.compras button {
  border-radius: var(--border-random);
  background: rgb(137, 37, 255);
  background: linear-gradient(132deg, #8925ff 22%, #4600ac 72%);
  border: none;
  cursor: pointer;
}
