@import url("../var.css");

.containerMain {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.items {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.items label {
  color: var(--cor-secundaria);
  font-weight: 700;
}

.containerMain input {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.242);
  padding: 0.8rem 0.8rem;
  border-radius: var(--border-random);
  flex: 1 1;
  border: none;
  color: var(--cor-principal);
  background-color: var(--bg-secundary);
}

.btn-send {
  height: 2.5rem;
  cursor: pointer;
  border-radius: var(--border-random);
  border: none;
  padding: 0 1rem;
  font-size: 0.8rem;
  color: #ffffff;
  background: rgb(137, 37, 255);
  background: linear-gradient(132deg, #8925ff 22%, #4600ac 72%);
  font-weight: 700;
}
