@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  background: #0c0013;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
